<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="title" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="reqForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    {{message}}
                </kt-alert>
                <div class="row">
                        <div class="form-group col-2">
                            <label class="form-group">N° DA: </label>
                            <div class="input-group input-group-sm">
    
                                <input type="text"  [(ngModel)]="reqEdit.rqm_nbr"
                                    [className]="reqForm.controls['rqm_nbr'].errors && (reqForm.controls['rqm_nbr'].dirty || reqForm.controls['rqm_nbr'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                    formControlName="rqm_nbr"  aria-describedby="basic-addon2">
                              
                               
                            </div>
                        </div>
                        <div class="form-group col-2">
                            <label class="form-group">SEQUENCE:</label>
                            <div class="input-group input-group-sm">
    
                                <input type="text"   id="SEQUENCE"
                                    [className]="reqForm.controls['rqm_category'].errors && (reqForm.controls['rqm_category'].dirty || reqForm.controls['rqm_category'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                    formControlName="rqm_category"  aria-describedby="basic-addon2">
                              
                               
                            </div>
    
    
                        </div>
    
                        
                    
                    <div class="form-group col-2">
                        <label class="form-group">FOURNISSEUR :</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" formControlName="rqm_vend" 
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open2(content2)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-3">
                        <label class="form-group">DEMANDE LE:</label>
                        <div class="input-group input-group-sm">
                            <input
                                [className]="reqForm.controls['rqm_req_date'].errors && (reqForm.controls['rqm_req_date'].dirty || reqForm.controls['rqm_req_date'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                formControlName="rqm_req_date" placeholder="jj-mm-aaaa" name="dp" ngbDatepicker f
                                #dd="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="dd.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            <div *ngIf="reqForm.controls['rqm_req_date'].errors && (reqForm.controls['rqm_req_date'].dirty || reqForm.controls['rqm_req_date'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>


                    </div>
                    <div class="form-group col-3">
                        <label class="form-group">DATE BESOIN:</label>
                        <div class="input-group input-group-sm">
                            <input
                                [className]="reqForm.controls['rqm_need_date'].errors && (reqForm.controls['rqm_need_date'].dirty || reqForm.controls['rqm_need_date'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                formControlName="rqm_need_date" placeholder="jj-mm-aaaa" name="dp1" ngbDatepicker
                                #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="d1.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            <div *ngIf="reqForm.controls['rqm_need_date'].errors && (reqForm.controls['rqm_need_date'].dirty || reqForm.controls['rqm_need_date'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>


                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Demandeur:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" formControlName="rqm_rqby_userid"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open3(content3)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">

                    <div class="form-group col-2">
                        <label class="form-group">Cause:</label>
                        <input type="text" class="form-control form-control-sm form-control-solid"
                            formControlName="rqm_reason">


                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Status :</label>
                        <input type="text" class="form-control form-control-sm form-control-solid"
                            formControlName="rqm_status">


                    </div>
                    <div class="form-group col-8">
                        <label class="form-group">Remarque:</label>
                        <textarea class="form-control form-control-sm form-control-solid" formControlName="rqm_rmks"
                            rows="2"></textarea>
                    </div>

                </div>

                <div class="row">
                    <button class="btn btn-sm btn-primary btn-elevate col-lg-4" (click)="addNewItem()">Ajouter un
                        Article</button>
                </div>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="mGrid"
                        [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                        (onAngularGridCreated)="gridReady($event)">
                    </angular-slickgrid>
                </div>
            </form>
        </div>

        <div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir la SEQUENCE</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridSeq"
                            [columnDefinitions]="columnDefinitions1" (onAngularGridCreated)="angularGridReady($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions1" [dataset]="sequences">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>

        <div>
            <ng-template #content2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir le FOURNISSEUR</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitions2" (onAngularGridCreated)="angularGridReady2($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged2($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions2" [dataset]="providers">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>

        <div>
            <ng-template #content3 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir le Demandeur</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions3" [dataset]="users">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir l'article</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="items">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
                modal</button>

        </div>
    </kt-portlet-body>
</kt-portlet>