<kt-portlet>
    <kt-portlet-header [sticky]="false" [title]="'Consultations des Commandes'" [class]="'card-head-lg'">
        
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div class="row">
                <angular-slickgrid class="col-12" gridHeight="1000" gridId="gridMesure" [columnDefinitions]="columnDefinitions"
                    [gridOptions]="gridOptions" [dataset]="dataset">
                </angular-slickgrid>
            </div>
            
        </div>

    </kt-portlet-body>
</kt-portlet>

