<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un Agregat'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <button type="button" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" class="btn btn-success btn-sm mr-2">Sauvgarder et
                continuer</button>



            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                        class="icon-2x text-dark-50 flaticon-more-v2"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Sauvgarder et quitter</button>

                </div>
            </div>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <form class="form" [formGroup]="agregatForm">

                <div class="row">
                    <div class="form-group col-12 row">
                        <label class="col-2 col-form-label">Code: *</label>
                        <div class="col-6">
                            <input class="form-control form-control-sm form-control-solid" type="text">
                        </div>
                    </div>

                    <div class="form-group col-12 row">
                        <label class="col-2 col-form-label">Description: *</label>
                        <div class="col-8">
                            <input class="form-control form-control-sm form-control-solid" type="text">
                        </div>
                    </div>



                    <div class="form-group col-12 row">
                        <label class="col-2 col-form-label">Totalisation: </label>
                        <div class="col-6">
                            <input class="form-control form-control-sm form-control-solid" type="text">
                        </div>
                    </div>

                    <div class="form-group col-12 row">
                        <label class="col-2 col-form-label">Type: * </label>
                        <div class="col-lg-6">
                            <select class="form-control form-control-sm form-control-solid" id="exampleSelects">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Tri ss-compte avant compte: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>



                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Tri ss-compte avant compte: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Tri centre cout avant compte: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Saut Page apres total: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Supprimer en Tete: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>


                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Supprimer en Tete: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Supprimer Total: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>


                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Saut ligne apres total: </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-6 row">
                        <label class="col-6 col-form-label"> Souligner double : </label>
                        <div class="col-6">
                            <span class="switch switch-icon ">
                                <label>
                                    <input type="checkbox" name="Permanent"
                                        class="form-control form-control-sm form-control-solid">
                                    <span></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </kt-portlet-body>
</kt-portlet>