<kt-portlet>
    <kt-portlet-body [class]="'kt-portlet__body--fit'">
        <!--div class="row row-no-padding row-col-separator-xl">
            <div class="card-body">
                <span class="svg-icon svg-icon-2x svg-icon-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                            <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                        </g>
                    </svg>
                    
                </span>
                <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">44</span>
                <span class="font-weight-bold text-muted font-size-sm">Vente</span>
            </div>

            <div class="card-body">
                <span class="svg-icon svg-icon-2x svg-icon-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M18,14 C16.3431458,14 15,12.6568542 15,11 C15,9.34314575 16.3431458,8 18,8 C19.6568542,8 21,9.34314575 21,11 C21,12.6568542 19.6568542,14 18,14 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                            <path d="M17.6011961,15.0006174 C21.0077043,15.0378534 23.7891749,16.7601418 23.9984937,20.4 C24.0069246,20.5466056 23.9984937,21 23.4559499,21 L19.6,21 C19.6,18.7490654 18.8562935,16.6718327 17.6011961,15.0006174 Z M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z" fill="#000000" fill-rule="nonzero"></path>
                        </g>
                    </svg>
                   
                </span>
                <span class="card-title font-weight-bolder text-dark-75 font-size-h2 mb-0 mt-6 d-block">51958</span>
                <span class="font-weight-bold text-muted font-size-sm">Ventes</span>
            </div>
            
          
            
        </div-->

        <div class="card-body d-flex flex-column">
            <!--begin::Stats-->
            <div class="flex-grow-1">
                <div class="text-dark-50 font-weight-bold">Total Sales</div>
                <div id="sale" class="font-weight-bolder font-size-h3" ></div>
            </div>
            <!--end::Stats-->
            <!--begin::Progress-->
            <div class="progress progress-xs">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <!--end::Progress-->
        </div>

        <!--kt-portlet>
            <kt-portlet-body [class]="'kt-portlet__body--fit'">
                <div class="row row-no-padding row-col-separator-xl">
                    <div class="col-xl-3">
                        <kt-widget1 [data]="data1"></kt-widget1>
                    </div>
                    
                </div>
            </kt-portlet-body>
        </kt-portlet-->
        

        <div class="row">
            
            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA/Cout par Projet '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv10" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>

            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA/Cout par Mois '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdivr" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>

        </div>    
        <div class="row">
            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'Realisation par Fournisseur '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA par Mois '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv1" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
        </div>
        <div class="row">
            
            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA par Famille '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv3" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>

            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA par Classe '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv2" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
        </div>



        <div class="row">
            <div class="col-xl-6">
                <table class="table table-striped mb-6">
                    <thead>
                        <tr>
                            <th scope="col">Wilaya</th>
                            <th scope="col">CA</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">Alger</th>
                            <td>35930</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Sétif</th>
                            <td>25365</td>
                            
                        </tr>
                        
                        <tr>
                            <th scope="row">Oran</th>
                            <td>15214</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Bejaia</th>
                            <td>3125</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Constantine</th>
                            <td>14598</td>
                            
                        </tr>
                        <tr>
                            <th scope="row">Ouaregla</th>
                            <td>13598</td>
                            
                        </tr>
                        
                    </tbody>
                </table>
            </div>
            <div class="col-xl-6">
                <kt-portlet [class]="'kt-portlet--height-fluid'">
                    <kt-portlet-header [title]="'CA par Wilaya '">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <div id="chartdiv4" style="width: 100%; height: 350px"></div>
                    </kt-portlet-body>
                </kt-portlet>
            </div>

        </div>
    </kt-portlet-body>
</kt-portlet>

