<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un Client'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>



           

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div>
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Information basique
                            <div style="width: 10px;"></div>
                            <a *ngIf="hasFormErrors"
                                class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                                <i class="flaticon2-information"></i>
                                <span class="pulse-ring"></span>
                            </a>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <form [formGroup]="addressForm" class="form">

                                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                                    (close)="onAlertClose($event)">
                                    Ce Code existe deja
                                </kt-alert>

                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">Client:</label>
                                        <input type="text"  [(ngModel)]="customerEdit.cm_addr" 
                                            [className]="addressForm.controls['ad_addr'].errors && (addressForm.controls['ad_addr'].dirty || addressForm.controls['ad_addr'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                            formControlName="ad_addr">
                                        <div *ngIf="addressForm.controls['ad_addr'].errors && (addressForm.controls['ad_addr'].dirty || addressForm.controls['ad_addr'].touched)"
                                            class="invalid-feedback">Ce Champs est obligatoire</div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Temporaire:</label>
                                        <span class="switch switch-icon">
                                            <label>
                                                <input type="checkbox"
                                                    class="form-control form-control-sm form-control-solid"
                                                    name="select" formControlName="ad_temp" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label class="form-group ">Nom:</label>
                                            <input type="text"
                                                [className]="addressForm.controls['ad_name'].errors && (addressForm.controls['ad_name'].dirty || addressForm.controls['ad_name'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                                formControlName="ad_name">
                                            <div *ngIf="addressForm.controls['ad_name'].errors && (addressForm.controls['ad_name'].dirty || addressForm.controls['ad_name'].touched)"
                                                class="invalid-feedback">Ce Champs est obligatoire</div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label class="form-group">Addresse:</label>
                                        
                                            <input type="text"
                                                [className]="addressForm.controls['ad_line1'].errors && (addressForm.controls['ad_line1'].dirty || addressForm.controls['ad_line1'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                                formControlName="ad_line1">
                                            <div *ngIf="addressForm.controls['ad_line1'].errors && (addressForm.controls['ad_line1'].dirty || addressForm.controls['ad_line1'].touched)"
                                                class="invalid-feedback">Ce Champs est obligatoire</div>
                                        
                                    </div>
                                   

                                </div>

                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">Pays:</label>
                                        <select class="form-control form-control-sm form-control-solid"
                                        id="exampleSelects1" formControlName="ad_country">
                                        <option value=""></option>
                                        <option *ngFor="let elem of ad_country" [value]="elem.code_value">
                                            {{elem.code_value}} {{elem.code_cmmt}}</option>
                                           

                                    </select>
                                    </div>
                               
                                    
                                    <div class="form-group col-2">
                                        <label class="form-group ">Wilaya:</label>
                                            <select class="form-control form-control-sm form-control-solid"
                                                id="exampleSelects2" formControlName="ad_state" (change)="onChangeState()">
                                                <option value=""></option>
                                                <option *ngFor="let elem of ad_state" [value]="elem.code_value">
                                                    {{elem.code_value}} {{elem.code_cmmt}}</option>

                                            </select>
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Commune:</label>
                                            <select class="form-control form-control-sm form-control-solid"
                                                id="exampleSelects1" formControlName="ad_city">
                                                <option value=""></option>
                                                <option *ngFor="let elem of ad_city" [value]="elem.code_value">
                                                    {{elem.code_value}} {{elem.code_cmmt}}</option>

                                            </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Post:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_zip">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">Contact:</label>
                                       
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_attn">
                                    </div>
                                    


                                    <div class="form-group col-2">
                                        <label class="form-group ">Telephone:</label>
                                        
                                            <input type="text"
                                                [className]="addressForm.controls['ad_phone'].errors && (addressForm.controls['ad_phone'].dirty || addressForm.controls['ad_phone'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                                formControlName="ad_phone">
                                            <div *ngIf="addressForm.controls['ad_phone'].errors && (addressForm.controls['ad_phone'].dirty || addressForm.controls['ad_phone'].touched)"
                                                class="invalid-feedback">Ce Champs est obligatoire</div>
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Pst:</label>
                                    
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_ext">
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Fax:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_fax">
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">Contact 2:</label>
                                       
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_attn2">
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Tel 2:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_phone2">
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Pst:</label>
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_ext2">
                                    </div>

                                    
                                    <div class="form-group col-2">
                                        <label class="form-group ">Fax 2</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid" formControlName="ad_fax2">
                                        
                                    </div>


                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Données Client
                            <div style="width: 10px;"></div>
                            <a *ngIf="hascustomerFormErrors"
                                class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                                <i class="flaticon2-information"></i>
                                <span class="pulse-ring"></span>
                            </a>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <form [formGroup]="customerForm" class="form">

                                <kt-alert *ngIf="hascustomerFormErrors" type="warn" [showCloseButton]="true"
                                    [duration]="10000" (close)="onAlertClose($event)">
                                    Modifiez quelques éléments et réessayez de soumettre.
                                </kt-alert>

                                <div class="row">
                                    <div class="form-group col-4">
                                        <label class="form-group">Nom Tri:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_sort">
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Type:</label>
                                       
                                            <select class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_type" id="exampleSelects4">
                                                <option value=""></option>
                                                <option *ngFor="let elem of cm_type" [value]="elem.code_value">
                                                    {{elem.code_value}} {{elem.code_cmmt}}</option>

                                            </select>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label class="form-group">Representant:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_slspn">
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Region:</label>
                                       
                                            <select class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_region" id="exampleSelects4">
                                                <option value=""></option>
                                                <option *ngFor="let elem of cm_region" [value]="elem.code_value">
                                                    {{elem.code_value}} {{elem.code_cmmt}}</option>

                                            </select>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-4">
                                        <label class="form-group">Mode Expedition:</label>
                                        
                                        <select class="form-control form-control-sm form-control-solid"
                                        formControlName="cm_shipvia" id="exampleSelects4">
                                        <option value=""></option>
                                        <option *ngFor="let elem of cm_shipvia" [value]="elem.code_value">
                                            {{elem.code_value}} {{elem.code_cmmt}}</option>

                                    </select>
                                        
                                    </div>
                                    <div class="form-group col-2">
                                       
                                        <label class="form-group "> Devise:</label>
                                        
                                        <div class="input-group input-group-sm">

                                            <input type="text" class="form-control form-control-solid"
                                                aria-describedby="basic-addon2" formControlName="cm_curr">
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)="open2(content2)">
                                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                
                                <div class="row">    
                                    <div class="form-group col-2">
                                        <label class="form-group "> Revente:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_resale">
                                                
                                            </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group "> Site:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_site">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="opensite(contentsite,'cm_site')">
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                            </div>
                                    </div>
                                    
                                    <div class="form-group col-2">
                                        <label class="form-group "> Langue:</label>
                                            <select class="form-control form-control-sm form-control-solid"
                                                id="exampleSelects6" formControlName="cm_lang">
                                                <option value=""></option>
                                                <option *ngFor="let elem of cm_lang" [value]="elem.code_value">
                                                    {{elem.code_value}} {{elem.code_cmmt}}</option>

                                            </select>
                                    </div>

                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">Classe:</label>
                                        
                                        <select class="form-control form-control-sm form-control-solid"
                                            formControlName="cm_class" id="exampleSelects8">
                                            <option value=""></option>
                                            <option *ngFor="let elem of cm_class" [value]="elem.code_value">
                                                {{elem.code_value}} {{elem.code_cmmt}}</option>

                                        </select>
                                    
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group "> Banque:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_bank" (change)="changeBank()">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="openbank(contentbank)">
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group "> Check Form:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_pay_method">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="open4(content4,'cm_pay_method')">
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group "> SIC:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_sic">
                                                
                                            </div>
                                    </div>
                                    
                                </div>
                                
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group">Prix Fixe:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_fix_pr" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Facturation par Autorisatiom:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_inv_auto" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">OK Partiel:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_partial" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    
                                </div>


                            </form>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Données Taxe ADR
                            <div style="width: 10px;"></div>
                            <a *ngIf="hasFormErrors"
                                class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                                <i class="flaticon2-information"></i>
                                <span class="pulse-ring"></span>
                            </a>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <form [formGroup]="addressForm" class="form">

                                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                                    (close)="onAlertClose($event)">
                                    Modifiez quelques éléments et réessayez de soumettre.
                                </kt-alert>

                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group">A taxer:</label>
                                        
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="ad_taxable" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Zone taxe:</label>
                                        <select class="form-control form-control-sm form-control-solid"
                                            id="exampleSelects2" formControlName="ad_tax_zone">
                                            <option value=""></option>
                                            <option *ngFor="let elem of ad_tax_zone" [value]="elem.code_value">
                                                {{elem.code_value}} {{elem.code_cmmt}}</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Taux tax:</label>
                                        <div class="input-group input-group-sm">

                                            <input type="text" class="form-control form-control-solid"
                                                aria-describedby="basic-addon2" formControlName="ad_taxc">
                                            <div class="input-group-append">
                                                <span class="input-group-text" (click)=opentax(contenttax)>
                                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Emploi tax:</label>
                                        <select class="form-control form-control-sm form-control-solid"
                                            id="exampleSelects2" formControlName="ad_tax_usage">
                                            <option value=""></option>
                                            <option *ngFor="let elem of ad_tax_usage" [value]="elem.code_value">
                                                {{elem.code_value}} {{elem.code_cmmt}}</option>

                                        </select>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Tax comprise:</label>
                                        <span class="switch switch-icon">
                                            <label>
                                                <input type="checkbox"
                                                    class="form-control form-control-sm form-control-solid"
                                                    name="select" formControlName="ad_tax_in" />
                                                <span></span>
                                            </label>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="form-group col-2">
                                        <label class="form-group ">Marticule Fiscale:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_misc2_id">
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">RC N:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_gst_id">
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">AI N:</label>
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_pst_id">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group ">NIS N:</label>
                                        
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="ad_misc1_id">
                                        
                                    </div>
                                   
                                   
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>

                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            Données paiement Client
                            <div style="width: 10px;"></div>
                            <a *ngIf="hasFormErrors"
                                class="btn btn-sm btn-icon btn-light-danger pulse pulse-danger mr-5">
                                <i class="flaticon2-information"></i>
                                <span class="pulse-ring"></span>
                            </a>
                        </ng-template>
                        <ng-template ngbTabContent>
                            <form [formGroup]="customerForm" class="form">

                                <kt-alert *ngIf="hascustomerFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                                    (close)="onAlertClose($event)">
                                    Modifiez quelques éléments et réessayez de soumettre.
                                </kt-alert>

                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group "> Limit Credit:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="number" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_cr_limit">
                                                
                                            </div>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group "> Remise:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="number" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_disc_pct">
                                                
                                            </div>
                                    </div>
                                
                                    <div class="form-group col-2">
                                        <label class="form-group "> Adresse Fact:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_bill">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" >
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                            </div>
                                    </div>
                                
                                </div>

                                <div class="row">
                                    <div class="form-group col-2">
                                        <label class="form-group "> Conditions:</label>
                                        
                                            <div class="input-group input-group-sm">

                                                <input type="text" class="form-control form-control-solid"
                                                    aria-describedby="basic-addon2" formControlName="cm_cr_terms">
                                                <div class="input-group-append">
                                                    <span class="input-group-text" (click)="open4(content4,'cm_cr_terms')">
                                                        <i class="text-dark-50 flaticon2-search"></i> </span>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                               
                                <div class="row">    
                                    <div class="form-group col-2">
                                        <label class="form-group">Blocage:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_hold" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Frais Financier:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_fin" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Releve:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_stmt" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    

                                </div>
                                <div class="row">
                                    <div class="form-group col-2">
                                            <label class="form-group">Dern Exam Cr: </label>
                                        
                                            <div class="input-group input-group-sm">
                                                <input class="form-control form-control-solid" placeholder="jj-mm-aaaa"
                                                       name="cm_cr_review"
                                                       formControlName="cm_cr_review"
                                                       ngbDatepicker
                                                       #cm_cr_review="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-primary" (click)="cm_cr_review.toggle()" type="button">
                                                        <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                    </button>
                                                </div>
                                            </div>
                    
                                        
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group">Dern MAJ Cr: </label>
                                        
                                        <div class="input-group input-group-sm">
                                            <input class="form-control form-control-solid" placeholder="jj-mm-aaaa"
                                                   name="cm_cr_update"
                                                   ngbDatepicker
                                                   formControlName="cm_cr_update"
                                                   #cm_cr_update="ngbDatepicker">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" (click)="cm_cr_update.toggle()" type="button">
                                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                                </button>
                                            </div>
                                        </div>
                                        
                                    </div>
                
                                </div>
                                <div class="row">
                                    
                                
                                    <div class="form-group col-2">
                                        <label class="form-group ">N base:</label>
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_db">
                                    </div>
                                

                                    <div class="form-group col-2">
                                        <label class="form-group">OA Requis:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_po_reqd" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                    <div class="form-group col-2">
                                        <label class="form-group ">Cycle Rel:</label>
                                            <input type="text" class="form-control form-control-sm form-control-solid"
                                                formControlName="cm_stmt_cyc">
                                    </div>
                                
                                    <div class="form-group col-2">
                                        <label class="form-group">Lettre Rel:</label>
                                            <span class="switch switch-icon">
                                                <label>
                                                    <input type="checkbox"
                                                        class="form-control form-control-sm form-control-solid"
                                                        name="select" formControlName="cm_dun" />
                                                    <span></span>
                                                </label>
                                            </span>
                                    </div>
                                

                                </div>    

                            </form>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
                
            </div>
        </div>

        <div>
            <ng-template #content2 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir la Devise</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitions2" (onAngularGridCreated)="angularGridReady2($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged2($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions2" [dataset]="devises">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #content3 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Compte </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitions3" (onAngularGridCreated)="angularGridReady3($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged3($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions3" [dataset]="data">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #contenttax let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitionstax" (onAngularGridCreated)="angularGridReadytax($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedtax($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionstax" [dataset]="datatax">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="datacode">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #contentsite let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir Site </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitionssite"
                            (onAngularGridCreated)="angularGridReadysite($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedsite($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionssite" [dataset]="datasite">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
        <div>
            <ng-template #contentbank let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir </h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                            [columnDefinitions]="columnDefinitionsbank" (onAngularGridCreated)="angularGridReadybank($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedbank($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionsbank" [dataset]="databank">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
    </kt-portlet-body>
</kt-portlet>