<kt-portlet>
    <kt-portlet-header [sticky]="true" title="Impression bon de commande" [class]="'card-head-lg'"
        [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Imprimer </button>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="poForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    {{message}}
                </kt-alert>
                <div class="row">
                    
                    <div class="form-group col-2">
                        <label class="form-group">N° BC:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="po_nbr"
                                aria-describedby="basic-addon2" (change)="onChangeOA()">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open5(content5)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Fournisseur:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="po_vend"
                                aria-describedby="basic-addon2" disabled >
                           
                        </div>

                    </div>
                    <div class="form-group col-3">
                        <label class="form-group">Nom:  </label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="name"
                                aria-describedby="basic-addon2"  disabled >
                           
                        </div>

                    </div>
                    
                    <div class="form-group col-2">
                        <label class="form-group">Date de creation:</label>
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm form-control-solid" formControlName="po_ord_date"
                                 placeholder="jj-mm-aaaa" name="po_ord_date" ngbDatepicker f
                                #po_ord_date="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="po_ord_date.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>


                    </div>
                </div>
                <div class="row">   
                    
                    <div class="form-group col-2">
                        <label class="form-group">Devise:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="po_curr"
                                aria-describedby="basic-addon2" >
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Taux Change:</label>
                        <div class="input-group input-group-sm">

                            <input type="number" class="form-control form-control-solid"  formControlName="po_ex_rate"
                                aria-describedby="basic-addon2">
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Taux Change:</label>
                        <div class="input-group input-group-sm">

                            <input type="number" class="form-control form-control-solid"  formControlName="po_ex_rate2"
                                aria-describedby="basic-addon2">
                        </div>

                    </div>

                    <div class="form-group col-1">
                        <label class="form-group">Taxable:</label>
                        <div class="input-group input-group-sm">

                            <span class="switch switch-icon">
                                <label>
                                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="po_taxable"  />
                                    <span></span>
                                </label>
                            </span>
                        </div>

                    </div>
                    
                    <div class="form-group col-2">
                        <label class="form-group">Taux de tax:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" formControlName="po_taxc" 
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" >
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Condition de Reglement:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid" formControlName="po_cr_terms" 
                                aria-describedby="basic-addon2">
                            
                        </div>

                    </div>
                </div>

                
                <div class="row">
                    <div class="form-group col-10">
                        <label class="form-group">Observation:</label>
                        <textarea class="form-control form-control-sm form-control-solid" formControlName="po_rmks"
                            rows="2"></textarea>
                    </div>
                    
                </div>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="mGrid"
                        [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                        (onAngularGridCreated)="gridReady($event)">
                    </angular-slickgrid>
                </div>
            </form>
            <form class="form" [formGroup]="totForm">
                <h3 class="card-title text-center" col-6>Totaux:                </h3>
                <div class row col-6>
                   
                        
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">Total HT</label>
                            <div class="col-2">
                                <input class="form-control" type="number"  style="text-align: right;" formControlName="tht">
                            </div>
                        </div>
                    
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">TVA</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="tva">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">Timbre</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="timbre">
                            </div>
                        </div>
                        <div class="form-group-sm row">
                            <label class="col-9 col-form-label  text-right ">TTC</label>
                            <div class="col-2">
                                <input class="form-control" type="number" style="text-align: right;" formControlName="ttc">
                            </div>
                        </div>
                    
                </div>            
            </form>
        </div>

       

        
        

        <div>
            <ng-template #content5 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir OA</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpos"
                            [columnDefinitions]="columnDefinitions5" (onAngularGridCreated)="angularGridReady5($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged5($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions5" [dataset]="pos">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open5(content5)">Launch demo
                modal</button>

        </div>
            </kt-portlet-body>
</kt-portlet>
