<div class="row">
    <div class="col-xl-12">
        <div class="row row-full-height">
            <div class="col-xl-12">
                <kt-portlet> 
                    <kt-portlet-header title="Ajouter une Cause" [class]="'kt-portlet__head--lg'">
                    </kt-portlet-header>
                    <kt-portlet-body>
                        <form class="kt-form" [formGroup]="causeForm">
                        
                            <div class="row"> 

                                <div class="form-group col-12 row">
                                    <label class="col-2 col-form-label text-right">Type: *</label>
                                    <div class="col-2">
                                        <select  class="form-control form-control-sm" [className]="causeForm.controls['type'].errors && (causeForm.controls['type'].dirty || causeForm.controls['type'].touched) ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" placeholder="Centre de Charge"
                                        #type formControlName="type" required id="type" > 
                                        </select>
                                        <div class="form-control-feedback" *ngIf="causeForm.controls['type'].errors && (causeForm.controls['type'].dirty || causeForm.controls['type'].touched)">
                                            
                                        </div>
                                        <div *ngIf="causeForm.controls['type'].errors.required" class="invalid-feedback">Le Centre de Charge est obligatoire</div>
                                    
                                    </div>
                                    
                                </div>


                                <div class="form-group col-12 row">
                                    <label class="col-2 col-form-label text-right">Code Cause: *</label>
                                    <div class="col-2">
                                        <input  class="form-control form-control-sm" type="text" [className]="causeForm.controls['code'].errors && (causeForm.controls['code'].dirty || causeForm.controls['code'].touched) ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" placeholder="Centre de Charge"
                                        #code formControlName="code" required id="code" >
                                        <div class="form-control-feedback" *ngIf="causeForm.controls['code'].errors && (causeForm.controls['code'].dirty || causeForm.controls['code'].touched)">
                                            
                                        </div>
                                        <div *ngIf="causeForm.controls['code'].errors.required" class="invalid-feedback">Le Code est obligatoire</div>
                                    
                                    </div>
                                    
                                </div>
                                <div class="form-group col-12 row">
                                    <label class="col-2 col-form-label text-right">Description: *</label>
                                    <div class="col-4">
                                        <input  class="form-control form-control-sm" type="text" [className]="causeForm.controls['description'].errors && (causeForm.controls['description'].dirty || causeForm.controls['description'].touched) ? 'form-control form-control-sm is-invalid' : 'form-control form-control-sm'" placeholder="Description"
                                        #description formControlName="description" required id="description" >
                                        <div class="form-control-feedback" *ngIf="causeForm.controls['description'].errors && (causeForm.controls['description'].dirty || causeForm.controls['description'].touched)">
                                            
                                        </div>
                                        <div *ngIf="causeForm.controls['description'].errors.required" class="invalid-feedback">La description est obligatoire</div>
                                    
                                    
                                    </div>
                                </div>    

                                <div class="kt-login__actions">
                                    <button (click)="submit()" class="btn btn-success btn-sm mr-2">Créer OF</button>
                                </div>
                            </div>
                        </form>
                    </kt-portlet-body>
                </kt-portlet>
            </div>
        </div>
    </div>
</div>    