<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Ajouter un Emplacement'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>


        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="statusForm">

                <kt-alert *ngIf="isExist" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    Ce Lot nexiste pas
                </kt-alert>

                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Site: *</label>
                    
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="tr_site"
                                [className]="statusForm.controls['tr_site'].errors && (statusForm.controls['tr_site'].dirty || statusForm.controls['tr_site'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                                aria-describedby="basic-addon2" (change)="changeStatus()">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="opensite(contentsite,'tr_site')">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="statusForm.controls['tr_site'].errors && (statusForm.controls['tr_site'].dirty || statusForm.controls['tr_site'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-2">

                        <label class="form-group">Emplacement: *</label>
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="tr_loc"
                            [className]="statusForm.controls['tr_loc'].errors && (statusForm.controls['tr_loc'].dirty || statusForm.controls['tr_loc'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                            aria-describedby="basic-addon2" (change)="changeLoc()">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openloc(contentloc,'tr_loc')">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="statusForm.controls['tr_loc'].errors && (statusForm.controls['tr_loc'].dirty || statusForm.controls['tr_loc'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                    </div>

                </div>

 
                <div class="row">

                    <div class="form-group col-2">
                       
                        <label class="form-group">Article: *</label>
                        <div class="input-group input-group-sm">

                            <input type="text" formControlName="tr_part"
                            [className]="statusForm.controls['tr_part'].errors && (statusForm.controls['tr_part'].dirty || statusForm.controls['tr_part'].touched) ? 'form-control form-control-sm form-control-solid is-invalid' : 'form-control form-control-sm form-control-solid'"
                            aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open4(content4)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                            <div *ngIf="statusForm.controls['tr_part'].errors && (statusForm.controls['tr_part'].dirty || statusForm.controls['tr_part'].touched)"
                                class="invalid-feedback">Ce Champs est obligatoire</div>
                        </div>
                
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-2">
                        <label class="form-group">Lot: *</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-solid"  formControlName="tr_serial" (change)="onChangeCode()"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <span class="input-group-text" (click)="openlocdet(contentlocdet)">
                                <i class="text-dark-50 flaticon2-search"></i> </span>
                        </div>
                    
                        </div>
                    </div>
                </div>


                <div class="row">
                    
                    <div class="form-group col-2">
                        <label class="form-group">Status: *</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-solid" formControlName="tr_status"
                            aria-describedby="basic-addon2" (change)="changeStatus()">
                            
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="openstatus(contentstatus)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <label class="form-group"> Expire Le: </label>
                    
                        <div class="input-group input-group-sm">
                            <input class="form-control form-control-sm form-control-solid" formControlName="tr_expire"
                                placeholder="jj-mm-aaaa" name="tr_expire" ngbDatepicker f
                                #tr_expire="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="tr_expire.toggle()" type="button">
                                    <i class="flaticon-calendar-with-a-clock-time-tools"></i>
                                </button>
                            </div>
                            
                        </div>

                    
                    </div>
                </div>

            </form>
        </div>

    </kt-portlet-body>

    <div>
        <ng-template #contentsite let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Site </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionssite" (onAngularGridCreated)="angularGridReadysite($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedsite($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionssite" [dataset]="datasite">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template #contentstatus let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Status </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionsstatus" (onAngularGridCreated)="angularGridReadystatus($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedstatus($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsstatus" [dataset]="datastatus">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>
    <div>
        <ng-template #contentloc let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Emplacement </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griduser"
                        [columnDefinitions]="columnDefinitionsloc" (onAngularGridCreated)="angularGridReadyloc($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedloc($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionsloc" [dataset]="dataloc">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
    </div>

    <div>
        <ng-template #contentlocdet let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir Lot </h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="gridloc"
                        [columnDefinitions]="columnDefinitionslocdet"
                        (onAngularGridCreated)="angularGridReadylocdet($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChangedlocdet($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptionslocdet" [dataset]="datalocdet">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
        <button hidden id="openLocdetsGrid" class="btn btn-primary" (click)="openlocdet(contentlocdet)">Launch demo
            modal</button>
    </div>
    <div>
        <ng-template #content4 let-c="close" let-d="dismiss">
            <div class="modal-header">
                <h4 class="modal-title">Choissir l'article</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                        [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                        (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                        [gridOptions]="gridOptions4" [dataset]="items">
                    </angular-slickgrid>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
            </div>
        </ng-template>
        <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
            modal</button>

    </div>
    
    
</kt-portlet>
