<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'Saisie inventaire'" [class]="'card-head-lg'" [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>



            <!-- <div ngbDropdown class="d-inline-block">
                <button class="btn btn-sm" id="dropdownBasic1" ngbDropdownToggle><i
                        class="icon-2x text-dark-50 flaticon-more-v2"></i></button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button class="dropdown-item">Sauvgarder et quitter</button>

                </div>

            </div> -->


        </ng-container>
        
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="tagForm" >

                <div class="row">
                    <div class="form-group col-4">
                        <label class="form-group">Numero Inventaire:</label>
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control form-control-solid"  formControlName="tagnbr" (change)="onChangeNbr()"
                                aria-describedby="basic-addon2">
                            
                        </div>
                    </div>
                
                    <div class="form-group col-2">
                        <label class="form-group">Nouveau:</label>
                        <div class="input-group input-group-sm">

                            <span class="switch switch-icon">
                                <label>
                                    <input type="checkbox" class="form-control form-control-sm form-control-solid" formControlName="new" (change)="onChangeNew()" />
                                    <span></span>
                                </label>
                            </span>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <button class="btn btn-sm btn-primary btn-elevate col-lg-4" (click)="addNewItem()">Ajouter un
                        Article</button>
                </div>
                <div class="row">
                    <angular-slickgrid class="col-12" gridHeight="1000" gridId="mGrid"
                        [columnDefinitions]="columnDefinitions" [gridOptions]="gridOptions" [dataset]="dataset"
                        (onAngularGridCreated)="gridReady($event)">
                    </angular-slickgrid>
                </div>
            </form>
        </div>
        <div>
            <ng-template #content4 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir l'article</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="griditem"
                            [columnDefinitions]="columnDefinitions4" (onAngularGridCreated)="angularGridReady4($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged4($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions4" [dataset]="items">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open4(content4)">Launch demo
                modal</button>

        </div>

        <div>
            <ng-template #contenttag let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir le Numero Dinventaire</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpro"
                            [columnDefinitions]="columnDefinitionstag" (onAngularGridCreated)="angularGridReadytag($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChangedtag($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptionstag" [dataset]="datatag">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
        </div>
    </kt-portlet-body>
</kt-portlet>