<kt-portlet>
    <kt-portlet-header [sticky]="true" title="Changement Status OF" [class]="'card-head-lg'"
        [viewLoading$]="loading$">
        <ng-container ktPortletTools>
            <button type="button" (click)="goBack()" class="btn btn-secondary btn-sm mr-2">Annuller</button>
            <button type="button" (click)="reset()" class="btn btn-secondary btn-sm mr-2">Réinitialiser</button>
            <button type="button" (click)="onSubmit()" class="btn btn-success btn-sm mr-2">Sauvgarder </button>

        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">

            <form class="form" [formGroup]="woForm">
                <kt-alert *ngIf="hasFormErrors" type="warn" [showCloseButton]="true" [duration]="10000"
                    (close)="onAlertClose($event)">
                    {{message}}
                </kt-alert>
                <div class="row">
                    
                    <div class="form-group col-2">
                        <label class="form-group">ID OF:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="id"
                                aria-describedby="basic-addon2" (change)="onChangeOA()">
                            <div class="input-group-append">
                                <span class="input-group-text" (click)="open5(content5)">
                                    <i class="text-dark-50 flaticon2-search"></i> </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">N OF:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="wo_nbr"
                                aria-describedby="basic-addon2" >
                            
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Article:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="part"
                                aria-describedby="basic-addon2" >
                            
                        </div>

                    </div>
                    <div class="form-group col-4">
                        <label class="form-group">Designation:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="descr"
                                aria-describedby="basic-addon2" >
                            
                        </div>

                    </div>
                    
                    
                </div>
                <div class="row">   
                    
                    <div class="form-group col-2">
                        <label class="form-group">Gamme:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="routing"
                                aria-describedby="basic-addon2" >
                            
                        </div>

                    </div>
                    <div class="form-group col-2">
                        <label class="form-group">Nomenclature:</label>
                        <div class="input-group input-group-sm">

                            <input type="text" class="form-control form-control-solid"  formControlName="bom"
                                aria-describedby="basic-addon2" >
                           
                        </div>

                    </div>
                   
                    <div class="form-group col-2">
                        <label class="form-group">Site:</label>
                        <div class="input-group input-group-sm">

                            <input type="number" class="form-control form-control-solid"  formControlName="site"
                                aria-describedby="basic-addon2">
                        </div>

                    </div>
                   

                    <div class="form-group col-2">
                        <label class="form-group">Status:</label>
                        <select class="form-control form-control-sm form-control-solid"
                                id="stat" formControlName="wo_status" (change)="onChangeStatus()">
                                <option value="F">Création</option>
                                <option value="R">Lancé</option>
                                <option value="C">Cloturé</option>
                                <option value="A">Annulé</option>


                            </select>
                    </div>
                    
                </div>

               

                
               
            </form>
        </div>

       

        
       
        <div>
            <ng-template #content5 let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title">Choissir ID</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <angular-slickgrid class="col-12" gridHeight="300" gridId="gridpos"
                            [columnDefinitions]="columnDefinitions5" (onAngularGridCreated)="angularGridReady5($event)"
                            (sgOnSelectedRowsChanged)="handleSelectedRowsChanged5($event.detail.eventData, $event.detail.args)"
                            [gridOptions]="gridOptions5" [dataset]="wos">
                        </angular-slickgrid>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Annuller</button>
                    <button type="button" class="btn btn-primary" (click)="c('Close click')">Ok</button>
                </div>
            </ng-template>
            <button hidden id="openItemsGrid" class="btn btn-primary" (click)="open5(content5)">Launch demo
                modal</button>

        </div>
           </kt-portlet-body>
</kt-portlet>
