<kt-portlet>
    <kt-portlet-header [sticky]="true" [title]="'La liste des Peniches'" [class]="'card-head-lg'">
        <ng-container ktPortletTools>
            


        </ng-container>
    </kt-portlet-header>
    <kt-portlet-body>
        <div class="example-preview">
            <div class="row">
                <angular-slickgrid class="col-12" gridHeight="1100" gridId="gridSite" [columnDefinitions]="columnDefinitions"
                    [gridOptions]="gridOptions" [dataset]="dataset">
                </angular-slickgrid>
            </div>
            
        </div>

    </kt-portlet-body>
</kt-portlet>
